openai_key.txt

# Ignore all the files inside the subdirectories of 'res'
res/CHROMA_DB/*
res/datasets/*
res/docs/*
res/img/*
res/keys/*
res/models/*

# Except the .gitkeep files
!res/CHROMA_DB/.gitkeep
!res/datasets/.gitkeep
!res/docs/.gitkeep
!res/img/.gitkeep
!res/keys/.gitkeep
!res/models/.gitkeep